/* navbar styling*/
.navbar-brand{
    margin-left: 10px;
    padding: 10px;
    background-color: rgb(81, 90, 175);
    font-family: 'Arial', Helvetica;
    font-size: 40px;
    font-weight: bolder;

  }
  

/* Giving the body the specified background color, adding font sizes for the h1 and h3 elements we'll be using */
body {
    background: #f1f1f1;
  }
  
  h1 {
    font-size: 80px;
  }
  
  h3 {
    font-size: 30px;
  }
  

}

.nav-item{
    margin-left: 10px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    font-family: 'Arial', Helvetica;
    font-size: 25px;

  #navbarNavDropdown{
    margin-left: 10px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    font-family: 'Arial', Helvetica;
    font-size: 25px;
  }







  
  /* Making our navbar li's inline-block elements this makes it so we can have multiple on the same line. Floats could have been used too */
  .navbar-brand{
    display: inline-block;
    padding: 20px;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
    background: #fff;
    border-radius: 3px;
  }
  
  /* Getting rid of the default link styles here */
  .navbar-brand {
    color: #000;
    text-decoration: none;
  }
  
  /* Styling the header, giving it a height, a background color, and some top padding */
  .header {
    height: 200px;
    padding-top: 20px;
    background: #cdcdcd;
  }
  
  /* Centering our h1 tag inside our header, giving it a little padding, removing its margin */
  .header h1 {
    padding: 60px;
    margin: 0;
    color: #000;
    text-align: center;
  }
  
 

  
  /* Adding media queries to show the drop-down, and hide the navbar when the screen is smaller than 480 pixels */
  @media (max-width: 480px) {
    .navbar-brand {
      padding: 10px;
    }
  
    .post {
      margin-right: 30px;
      margin-left: 30px;
    }
  
    .navbar-brand{
      visibility: hidden;
    }
  
    #nav-select {
      visibility: visible;
    }
  }
  